.slider {
  height: 95px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.slider .slide-track {
  -webkit-animation: scroll 15s linear infinite;
  animation: scroll 15s linear infinite;
  display: flex;
  width: calc(20 0px * 14);
}
.slider .slide {
  height: 68px;
  width: 150px;
}
.slider .slide img {
  width: 60%;
  height: 75px;
}

@-webkit-keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-80px * 6));
    }
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-80px * 6));
    }
  }
  
